{% extends 'base.jinja' %}

{% block content %}
<h2>Books</h2>
<ul>
    <li><a href="/books/black-girl/">Black Girl</a></li>
    <li><a href="/books/the-broken-ice/">The Broken Ice</a></li>
    <li><a href="/books/shores-of-winter/">Shores of Winter</a></li>
    <li><a href="/books/the-obsessions-servant/">The Obsession's Servant</a></li>
    <li><a href="/books/the-voyage-of-the-stars/">The Voyage of the Stars</a></li>
    <li><a href="/books/destruction-in-the-past/">Destruction in the Past</a></li>
</ul>
{% endblock content %}
